body {
	#background: linear-gradient(#414246, #454649);
	background-color: #ddd;
}

#forkme {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

#container {
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.75);
	max-width: 60%;
	margin: 0em auto;
}

#header {
	background-color: #001b33;
	color: #ff9d00;
	padding: 0.1em 2em 0.1em 2em;
	#-webkit-border-radius: 3px 3px 0px 0px;
	#-moz-border-radius: 3px 3px 0px 0px;
	#border-radius: 3px 3px 0px 0px;
}

#header table {
	border: none;
	margin-left: -0.3em;
}

#header td {
	padding-right: 1em;
}

#logo {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	max-height: 3em;
}

#box {
	padding: 0.5em 2em 2em 2em;
	#background-color: #e5e5e5;
	background-color: #fff;
	#-webkit-border-radius: 0px 0px 3px 3px;
	#-moz-border-radius: 0px 0px 3px 3px;
	#border-radius: 0px 0px 3px 3px;
	border-top: solid 1px #a8093e;
}

#content {

}

#footer {
	margin: 3em 0em 1em 0em;
	font-size: 0.8em;
	text-align: center;
	color: #444;
}
